.close-btn {
    color: #65a5d4;
    vertical-align: bottom;
    margin-left: 8px;
    font-weight: 700;
}

.tag-text {
    background: #335977;
}

.tag-search-result {
    background: #f2f2f2;
}

.tag-list-item {
    color: #555555;
}